.timeslot_container{width:94%; height: auto;clear: both; background-color:#ccc; padding:25px;}
.ordertype_lable{width: 98%; background-color: #000;color: #fff;padding: 8px;margin-bottom:10px;}
.timeslot_header{width: 98%;height: 24px;clear: both;padding: 10px 2px 5px 12px;color: #000;   background-color:rgba(204, 204, 204, 0.52);}
.starttime_header{width: 14%; float: left;}
.endtime_header{width: 14%; float: left;}
.days_header{width: 60%; float: left;}

.starttime_body{width: 14%; float: left;margin-right: 8px;}
.endtime_body{width: 14%; float: left;margin-right: 8px;}
.days_body{width: 60%; float: left;margin-right: 8px;}
.days_body input[type="checkbox"]{float: left;margin-top: 1px;}
.days_body span{float: left;width:12%;}

ul li{width: 100%;clear: both;display: inline-block;list-style: none;}

#del_pickup_timeslot{cursor:pointer;background-color:#000;color:#fff;padding:3px;}

#del_delivery_timeslot{cursor:pointer;background-color:#000;color:#fff;padding:3px;}

#del_dinein_timeslot{cursor:pointer;background-color:#000;color:#fff;padding:3px;}